<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
    <component category='READER' id='File Poller' inputMessageType='any' inputOutputModelsMatch='false' outputMessageType='text' resourceCategory='streamable'>
        <name>文件轮询器</name>
        <className>org.jumpmind.metl.core.runtime.component.FilePoller</className>
        <keywords>files</keywords>
        <description></description>
        <settings>
            <setting id='run.when' required='false' type='choice'>
                <name>当...时运行</name>
                <defaultValue>PER UNIT OF WORK</defaultValue>
                <choices>
                    <choice>PER UNIT OF WORK</choice>
                    <choice>PER MESSAGE</choice>
                </choices>
            </setting>
            <setting id='get.file.pattern.from.message' required='false' type='boolean'>
                <name>从消息获取文件模式</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='file.pattern' required='false' type='text'>
                <name>文件模式</name>
            </setting>
            <setting id='cancel.on.no.files' required='false' type='boolean'>
                <name>没有文件时取消</name>
                <defaultValue>true</defaultValue>
            </setting>
            <setting id='file.sort.order' required='false' type='choice'>
                <name>文件排序</name>
                <defaultValue>Last Modified</defaultValue>
                <choices>
                    <choice>Last Modified</choice>
                    <choice>Name</choice>
                </choices>
            </setting>
            <setting id='file.sort.descending' required='false' type='boolean'>
                <name>降序排列</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='rows.per.message' required='false' type='integer'>
                <name>文件/消息</name>
                <defaultValue>1</defaultValue>
            </setting>
            <setting id='min.files.to.poll' required='true' type='integer'>
                <name>最小轮询文件数</name>
                <defaultValue>1</defaultValue>
            </setting>
            <setting id='max.files.to.poll' required='true' type='integer'>
                <name>最大轮询文件数</name>
                <defaultValue>1000</defaultValue>
            </setting>
            <setting id='only.files.older.than.minutes' required='true' type='integer'>
                <name>仅包含存在时长超过(minutes)</name>
                <defaultValue>0</defaultValue>
            </setting>
            <setting id='action.on.success' required='false' type='choice'>
                <name>成功后的动作</name>
                <defaultValue>None</defaultValue>
                <choices>
                    <choice>None</choice>
                    <choice>Archive</choice>
                    <choice>ZIP Archive</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='archive.on.success.path' required='false' type='text'>
                <name>成功（文件）存档路径</name>
            </setting>
            <setting id='action.on.error' required='false' type='choice'>
                <name>出错后的动作</name>
                <defaultValue>None</defaultValue>
                <choices>
                    <choice>None</choice>
                    <choice>Archive</choice>
                    <choice>ZIP Archive</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='archive.on.error.path' required='false' type='text'>
                <name>出错（文件）存档路径</name>
            </setting>
            <setting id='use.trigger.file' required='false' type='boolean'>
                <name>使用触发文件</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='trigger.file.path' required='false' type='text'>
                <name>相关触发文件路径</name>
            </setting>
        </settings>
    </component>
    <component category='PROCESSOR' id='File Util' inputMessageType='any' inputOutputModelsMatch='false' outputMessageType='text' resourceCategory='streamable'>
        <name>文件操作</name>
        <className>org.jumpmind.metl.core.runtime.component.FileUtil</className>
        <keywords>files,copy,move</keywords>
        <description></description>
        <settings>
            <setting id='run.when' required='false' type='choice'>
                <name>当...时运行</name>
                <defaultValue>PER UNIT OF WORK</defaultValue>
                <choices>
                    <choice>PER UNIT OF WORK</choice>
                    <choice>PER MESSAGE</choice>
                </choices>
            </setting>
            <setting id='action' required='false' type='choice'>
                <name>行为</name>
                <defaultValue>Copy</defaultValue>
                <choices>
                    <choice>Copy</choice>
                    <choice>Move</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='relative.path' required='false' type='text'>
                <name>源相对路径</name>
            </setting>
            <setting id='target.relative.path' required='false' type='text'>
                <name>目标相对路径</name>
            </setting>
            <setting id='new.name' required='false' type='text'>
                <name>目标文件名称</name>
                <description></description>
            </setting>
            <setting id='get.file.name.from.message' required='false' type='boolean'>
                <name>从消息获取文件名</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='overwrite' required='false' type='boolean'>
                <name>覆盖</name>
                <defaultValue>true</defaultValue>
            </setting>
            <setting id='append.to.name' required='false' type='text'>
                <name>附加到名称</name>
            </setting>
        </settings>
    </component>

    <component category='READER' id='Text File Reader' inputMessageType='text' inputOutputModelsMatch='false' outputMessageType='text' resourceCategory='streamable'>
        <name>文本文件读取器</name>
        <className>org.jumpmind.metl.core.runtime.component.TextFileReader</className>
        <keywords>file,files</keywords>
        <description></description>
        <settings>
            <setting id='run.when' required='false' type='choice'>
                <name>当...时运行</name>
                <defaultValue>PER UNIT OF WORK</defaultValue>
                <choices>
                    <choice>PER UNIT OF WORK</choice>
                    <choice>PER MESSAGE</choice>
                </choices>
            </setting>
            <setting id='get.file.name.from.message' required='false' type='boolean'>
                <name>从消息获取文件名</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='must.exist' required='false' type='boolean'>
                <name>必须存在</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='relative.path' required='false' type='text'>
                <name>文件路径</name>
            </setting>
            <setting id='split.on.line.feed' required='false' type='boolean'>
                <name>在换行处拆分</name>
                <defaultValue>true</defaultValue>
            </setting>
            <setting id='text.rows.per.message' required='false' type='integer'>
                <name>n行/消息</name>
                <defaultValue>1000</defaultValue>
            </setting>
            <setting id='action.on.success' required='false' type='choice'>
                <name>成功后的动作</name>
                <defaultValue>NONE</defaultValue>
                <choices>
                    <choice>None</choice>
                    <choice>Archive</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='archive.on.success.path' required='false' type='text'>
                <name>成功（文件）存档路径</name>
            </setting>
            <setting id='action.on.error' required='false' type='choice'>
                <name>出错后的动作</name>
                <defaultValue>NONE</defaultValue>
                <choices>
                    <choice>None</choice>
                    <choice>Archive</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='archive.on.error.path' required='false' type='text'>
                <name>出错（文件）存档路径</name>
            </setting>
            <setting id='encoding' required='false' type='text'>
                <name>编码</name>
                <defaultValue>UTF-8</defaultValue>
            </setting>
            <setting id='text.header.lines.to.skip' required='false' type='integer'>
                <name>标题行跳过</name>
            </setting>
            <setting id='control.message.on.eof' required='false' type='boolean'>
                <name>在EOF发送控制消息</name>
            </setting>
            <setting id='number.of.times.to.read.file' required='false' type='integer'>
                <name>读取文件内容的次数</name>
                <defaultValue>1</defaultValue>
            </setting>
        </settings>
    </component>
    <component category='READER' id='Binary File Reader' inputMessageType='text' inputOutputModelsMatch='false' outputMessageType='binary' resourceCategory='streamable'>
        <name>二进制文件读取器</name>
        <className>org.jumpmind.metl.core.runtime.component.BinaryFileReader</className>
        <keywords>files</keywords>
        <description></description>
        <settings>
            <setting id='run.when' required='false' type='choice'>
                <name>当...时运行</name>
                <defaultValue>PER UNIT OF WORK</defaultValue>
                <choices>
                    <choice>PER UNIT OF WORK</choice>
                    <choice>PER MESSAGE</choice>
                </choices>
            </setting>
            <setting id='get.file.name.from.message' required='false' type='boolean'>
                <name>从消息获取文件名</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='must.exist' required='false' type='boolean'>
                <name>必须存在</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='relative.path' required='false' type='text'>
                <name>文件路径</name>
            </setting>
            <setting id='action.on.success' required='false' type='choice'>
                <name>成功后的动作</name>
                <defaultValue>NONE</defaultValue>
                <choices>
                    <choice>None</choice>
                    <choice>Archive</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='archive.on.success.path' required='false' type='text'>
                <name>成功（文件）存档路径</name>
            </setting>
            <setting id='action.on.error' required='false' type='choice'>
                <name>出错后的动作</name>
                <defaultValue>NONE</defaultValue>
                <choices>
                    <choice>None</choice>
                    <choice>Archive</choice>
                    <choice>Delete</choice>
                </choices>
            </setting>
            <setting id='archive.on.error.path' required='false' type='text'>
                <name>出错（文件）存档路径</name>
            </setting>
            <setting id='size.per.message' required='false' type='integer'>
                <name>大小/消息(MB)</name>
            </setting>
            <setting id='control.message.on.eof' required='false' type='boolean'>
                <name>在EOF发送控制消息</name>
            </setting>
        </settings>
    </component>
    <component category='WRITER' id='Text File Writer' inputMessageType='text' inputOutputModelsMatch='false' outputMessageType='text' resourceCategory='streamable'>
        <name>文本文件写入器</name>
        <className>org.jumpmind.metl.core.runtime.component.TextFileWriter</className>
        <keywords>files</keywords>
        <description></description>
        <settings>
            <setting id='relative.path' required='false' type='text'>
                <name>路径和文件名</name>
            </setting>
            <setting id='must.exist' required='true' type='boolean'>
                <name>必须存在</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='append' required='true' type='boolean'>
                <name>附加</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='text.line.terminator' required='false' type='text'>
                <name>每行末尾</name>
            </setting>
            <setting id='encoding' required='false' type='text'>
                <name>编码</name>
                <defaultValue>UTF-8</defaultValue>
            </setting>
            <setting id='get.file.name.from.message' required='false' type='boolean'>
                <name>从消息获取文件名</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='filename.property' required='false' type='text'>
                <name>文件名在消息中的参数名称</name>
            </setting>
            <setting id='empty.file' required='true' type='boolean'>
                <name>无输入时输出空文件</name>
                <defaultValue>true</defaultValue>
            </setting>
            <setting id='close.on' required='false' type='choice'>
                <name>在...时关闭</name>
                <defaultValue>UNIT OF WORK</defaultValue>
                <choices>
                    <choice>UNIT OF WORK</choice>
                    <choice>MESSAGE</choice>
                    <choice>ROW</choice>
                </choices>
            </setting>
        </settings>
    </component>
    <component category='WRITER' id='Binary File Writer' inputMessageType='binary' inputOutputModelsMatch='false' outputMessageType='text' resourceCategory='streamable'>
        <name>二进制文件写入器</name>
        <className>org.jumpmind.metl.core.runtime.component.BinaryFileWriter</className>
        <keywords>files</keywords>
        <description></description>
        <settings>
            <setting id='relative.path' required='false' type='text'>
                <name>路径和文件</name>
            </setting>
            <setting id='must.exist' required='true' type='boolean'>
                <name>必须存在</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='append' required='true' type='boolean'>
                <name>附加</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='get.file.name.from.message' required='false' type='boolean'>
                <name>从消息获取文件名</name>
                <defaultValue>false</defaultValue>
            </setting>
            <setting id='filename.property' required='false' type='text'>
                <name>文件名在消息中的参数名称</name>
            </setting>
        </settings>
    </component>
</definitions>
