<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='PROCESSOR'
             id='Format Delimited'
             inputMessageType='entity'
             inputOutputModelsMatch='false'
             outputMessageType='text'
             resourceCategory='none'>
    <name>分隔符格式化</name>
    <className>org.jumpmind.metl.core.runtime.component.DelimitedFormatter</className>
    <keywords>csv,generate,file,files,text</keywords>
    <description></description>
    <settings>
      <setting id='delimited.formatter.delimiter'
               required='true'
               type='text'>
        <name>分隔符</name>
        <defaultValue>,</defaultValue>
      </setting>
      <setting id='delimited.formatter.quote.character'
               required='false'
               type='text'>
        <name>引用字符</name>
        <defaultValue>&quot;</defaultValue>
      </setting>
      <setting id='delimited.formatter.header'
               required='false'
               type='boolean'>
        <name>标题行</name>
        <defaultValue>false</defaultValue>
      </setting>
      <setting id='delimited.formatter.attribute.trim.columns'
               required='true'
               type='boolean'>
        <name>修剪列</name>
        <defaultValue>true</defaultValue>
      </setting>
    </settings>
  </component>
  <component category='PROCESSOR'
             id='Format Fixed'
             inputMessageType='entity'
             inputOutputModelsMatch='false'
             outputMessageType='text'
             resourceCategory='none'>
    <name>定长格式化</name>
    <className>org.jumpmind.metl.core.runtime.component.FixedLengthFormatter</className>
    <keywords>file,files,text,generate</keywords>
    <description></description>
    <settings>
      <setting id='fixed.length.formatter.header'
               required='false'
               type='boolean'>
        <name>标题行</name>
        <defaultValue>false</defaultValue>
      </setting>
    </settings>
  </component>
  <component category='PROCESSOR'
             id='Parse Delimited'
             inputMessageType='text'
             inputOutputModelsMatch='false'
             outputMessageType='entity'
             resourceCategory='none'
             supportsMultipleThreads='true'>
    <name>格式化解析器</name>
    <className>org.jumpmind.metl.core.runtime.component.DelimitedParser</className>
    <keywords>parse,files,file,csv</keywords>
    <description></description>
    <settings>
      <setting id='delimiter'
               required='true'
               type='text'>
        <name>分隔符</name>
        <defaultValue>,</defaultValue>
      </setting>
      <setting id='quote.character'
               required='false'
               type='text'>
        <name>引用字符</name>
        <defaultValue>&quot;</defaultValue>
      </setting>
      <setting id='header.lines.to.skip'
               required='false'
               type='integer'>
        <name>忽略头部行数</name>
        <defaultValue>0</defaultValue>
      </setting>
      <setting id='footer.lines.to.skip'
               required='false'
               type='integer'>
        <name>忽略页脚行数</name>
        <defaultValue>0</defaultValue>
      </setting>
      <setting id='encoding'
               required='false'
               type='text'>
        <name>编码</name>
        <defaultValue>UTF-8</defaultValue>
      </setting>
    </settings>
  </component>
  <component category='PROCESSOR'
             id='Parse Fixed'
             inputMessageType='text'
             outputMessageType='entity'>
    <name>定长解析器</name>
    <className>org.jumpmind.metl.core.runtime.component.FixedLengthParser</className>
    <keywords>parse,file,files</keywords>
    <description></description>
    <settings>
      <setting id='header.lines.to.skip'
               required='false'
               type='integer'>
        <name>忽略头部行数</name>
        <defaultValue>0</defaultValue>
      </setting>
      <setting id='footer.lines.to.skip'
               required='false'
               type='integer'>
        <name>忽略页脚行数</name>
        <defaultValue>0</defaultValue>
      </setting>
      <setting id='trim.parsed.column'
               required='false'
               type='boolean'>
        <name>修剪解析列</name>
        <defaultValue>true</defaultValue>
      </setting>
    </settings>
  </component>
</definitions>
